/** ###########################################################################################
**  #   Animations
**  ########################################################################################### **/
#action-bar img.drawer-slide-left-add,
#action-bar img.drawer-slide-left-remove {
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

#action-bar img.drawer-slide-left-add,
#action-bar img.drawer-slide-left-remove.drawer-slide-left-remove-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#action-bar img.drawer-slide-left,
#action-bar img.drawer-slide-left-remove,
#action-bar img.drawer-slide-left-add.drawer-slide-left-add-active {
  -webkit-transform: translate3d(-6px, 0, 0);
  transform: translate3d(-6px, 0, 0);
}

/** ###########################################################################################
**  #   Navigation Drawer
**  ########################################################################################### **/
aside#left-nav-drawer.show-navigation-drawer {
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
}

aside#left-nav-drawer.show-navigation-drawer-add {

  -webkit-animation: 0.4s fadeInLeft;
  -moz-animation: 0.4s fadeInLeft;
  -ms-animation: 0.4s fadeInLeft;
  animation: 0.4s fadeInLeft;

  display: block !important;
}

aside#left-nav-drawer.show-navigation-drawer-remove {
  -webkit-animation: 0.8s slideOutLeft;
  -moz-animation: 0.4s slideOutLeft;
  -ms-animation: 0.4s slideOutLeft;
  animation: 0.4s slideOutLeft;

}

/** ###########################################################################################
**  #   Overlay
**  ########################################################################################### **/
.overlay.ng-hide-add {
  -webkit-animation: 0.3s hide;
  -moz-animation: 0.3s hide;
  -o-animation: 0.3s hide;
  animation: 0.3s hide;

  /* remember, the .hg-hide class is already on
   the element which renders it as display=none
   so it must be overridden to render the "show"
   animation */
  display: block !important;
}

@keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@-moz-keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@-o-keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

.overlay.ng-hide-remove {
  -webkit-animation: 0.3s show;
  -moz-animation: 0.3s show;
  -o-animation: 0.3s show;
  animation: 0.3s show;

  /*display: block !important;*/
}

@keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}
@-moz-keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}

@-o-keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}