/** ###########################################################################################
**  #   Animations
**  ########################################################################################### **/
#action-bar img.drawer-slide-left-add,
#action-bar img.drawer-slide-left-remove {
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

#action-bar img.drawer-slide-left-add,
#action-bar img.drawer-slide-left-remove.drawer-slide-left-remove-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#action-bar img.drawer-slide-left,
#action-bar img.drawer-slide-left-remove,
#action-bar img.drawer-slide-left-add.drawer-slide-left-add-active {
  -webkit-transform: translate3d(-8px, 0, 0);
  transform: translate3d(-8px, 0, 0);
}

/* TODO for overlay
   Faster animation
*/
/*.slide-animation {*/
/*width: 100%;*/
/*position: absolute;*/
/*}*/

/*.slide-animation.ng-enter {*/
/*animation: slideInRight 0.8s;*/
/*-webkit-animation: slideInRight 0.8s;*/
/*-moz-animation: slideInRight 0.8s;*/
/*-ms-animation: slideInRight 0.8s;*/
/*}*/

/*.slide-animation.ng-leave {*/
/*animation: slideOutLeft 0.8s;*/
/*-webkit-animation: slideOutLeft 0.8s;*/
/*-moz-animation: slideOutLeft 0.8s;*/
/*-ms-animation: slideOutLeft 0.8s;*/
/*}*/