/** ###########################################################################################
**  #   Animations
**  ########################################################################################### **/
#action-bar img.drawer-slide-left-add,
#action-bar img.drawer-slide-left-remove {
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

#action-bar img.drawer-slide-left-add,
#action-bar img.drawer-slide-left-remove.drawer-slide-left-remove-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#action-bar img.drawer-slide-left,
#action-bar img.drawer-slide-left-remove,
#action-bar img.drawer-slide-left-add.drawer-slide-left-add-active {
  -webkit-transform: translate3d(-8px, 0, 0);
  transform: translate3d(-8px, 0, 0);
}

.show-navigation-drawer {
  /*transform: translate3d(0, 0, 0) !important;*/
  /*-webkit-transform: translate3d(0, 0, 0) !important;*/
}

aside#left-nav-drawer.show-navigation-drawer.ng-hide-add {
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  animation: 0.8s fadeInLeft;
  -webkit-animation: 0.8s fadeInLeft;
  -moz-animation: 0.8s fadeInLeft;
  -ms-animation: 0.8s fadeInLeft;
}

aside#left-nav-drawer.show-navigation-drawer.ng-hide-remove {
  animation: 0.8s slideOutLeft;
  -webkit-animation: 0.8s slideOutLeft;
  -moz-animation: 0.8s slideOutLeft;
  -ms-animation: 0.8s slideOutLeft;

  display: block !important;
}

/* TODO for overlay
   Faster animation
*/
/*.slide-animation {*/
/*width: 100%;*/
/*position: absolute;*/
/*}*/

/*.slide-animation.ng-enter {*/
/*animation: slideInRight 0.8s;*/
/*-webkit-animation: slideInRight 0.8s;*/
/*-moz-animation: slideInRight 0.8s;*/
/*-ms-animation: slideInRight 0.8s;*/
/*}*/

/*.slide-animation.ng-leave {*/
/*animation: slideOutLeft 0.8s;*/
/*-webkit-animation: slideOutLeft 0.8s;*/
/*-moz-animation: slideOutLeft 0.8s;*/
/*-ms-animation: slideOutLeft 0.8s;*/
/*}*/

.overlay.ng-hide-add {
  -webkit-animation: 0.2s hide;
  -moz-animation: 0.2s hide;
  -o-animation: 0.2s hide;
  animation: 0.2s hide;
}

@keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@-moz-keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@-o-keyframes hide {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

.overlay.ng-hide-remove {
  -webkit-animation: 0.2s show;
  -moz-animation: 0.2s show;
  -o-animation: 0.2s show;
  animation: 0.2s show;

  /* remember, the .hg-hide class is already on
     the element which renders it as display=none
     so it must be overridden to render the "show"
     animation */
  display: block !important;
}

@keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}

@-moz-keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}

@-o-keyframes show {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}