<!DOCTYPE HTML>
<html ng-app="phoneApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-width, target-densitydpi=device-dpi">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.tmp) styles/bootflat-extra.css -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/bootflat/css/font-awesome.min.css" rel="stylesheet" media="screen">
  <link href="bower_components/bootflat/css/bootflat.css" rel="stylesheet" media="screen">
  <link href="bower_components/bootflat/css/bootflat-extensions.css" rel="stylesheet" media="screen">
  <link href="bower_components/bootflat/css/bootflat-square.css" rel="stylesheet" media="screen">
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
  <link rel="stylesheet" href="styles/animation.css">
  <!-- endbuild -->
</head>
<body data-ng-controller="MainCtrl as main">
<header>
  <nav id="action-bar" class="navbar navbar-default navbar-fixed-top">
    <!-- Fixed navbar -->
    <div class="navbar-header">
      <ul class="nav navbar-nav pull-left">
        <li data-ng-click="main.showNavDrawer = !main.showNavDrawer">
        <img class="drawer-icon" ng-src="images/android/ic_drawer.png"
               data-ng-class="{'drawer-slide-left':  main.showNavDrawer}">
        </li>
        <li data-ng-click="main.showNavDrawer = !main.showNavDrawer">
          <img class="app-icon" ng-src="images/manta_icon_w_small.png">
        </li>
        <li class="view-control dropdown">
          <a href="#" class="dropdown-toggle">Ocean Adventures <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      <!-- Actionbar overflow Settings-->
      <ul class="nav navbar-nav pull-right">
        <li class="action-overflow">
          <img class="action-overflow-icon" ng-src="images/android/ic_action_overflow.png">
        </li>
      </ul>
    </div>
  </nav>
</header>

<!--Left  Navitgation Drawer -->
<aside id="left-nav-drawer"
       data-ng-class="{ 'show-navigation-drawer': main.showNavDrawer }"
       data-ng-swipe-left="main.showNavDrawer = false"
       data-ng-swipe-right="main.showNavDrawer = true">
  <nav>
    <ul class="nav nav-list nav-list-panel nav-list-panel-square">
      <li class="nav-header">Header</li>
      <li class="active"><a href="/#">Één</a></li>
      <li><a href="/#">Twee</a></li>
      <li><a href="/#">Drie</a></li>
    </ul>
  </nav>
</aside>

<!-- Begin page content -->
<section id="main">
  <div class="overlay" data-ng-show="main.showNavDrawer"></div>

  <div class="page-header">
    <h1>Sticky footer with fixed navbar</h1>
  </div>
  <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this
    custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top:
      60px;</code> on the <code>.container</code>.</p>

</section>

<!-- ===================================================================================================  -->
<!--    Le Scripts                                                                                        -->
<!-- ===================================================================================================  -->
<!-- build:js scripts/angular-modules.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/angular-scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/navigation.js"></script>
<!-- endbuild -->
</body>
</html>
